**.exe
.vscode/
*.vscode//vendor/

# Environment-specific files
.env
.env.*

tmp


# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

internal_readme.md


# static folder where frontent will get built
static

# coverage files
*.out